@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-family-sans: 'Inter', sans-serif;

  --color-zinc-50: oklch(0.988 0.003 298.9);
  --color-zinc-100: oklch(0.965 0.006 298.9);
  --color-zinc-200: oklch(0.914 0.011 298.9);
  --color-zinc-300: oklch(0.855 0.016 298.9);
  --color-zinc-400: oklch(0.788 0.02 298.9);
  --color-zinc-500: oklch(0.711 0.023 298.9);
  --color-zinc-600: oklch(0.624 0.026 298.9);
  --color-zinc-700: oklch(0.533 0.028 298.9);
  --color-zinc-800: oklch(0.439 0.028 298.9);
  --color-zinc-900: oklch(0.341 0.027 298.9);
  --color-zinc-950: oklch(0.239 0.024 298.9);

  --prose-body: theme(colors.zinc.700);
  --prose-headings: theme(colors.zinc.950);
  --prose-links: theme(colors.zinc.950);
  --prose-bold: theme(colors.zinc.950);
  --prose-counters: theme(colors.zinc.500);
  --prose-bullets: theme(colors.zinc.400);
  --prose-hr: theme(colors.zinc.200);
  --prose-quotes: theme(colors.zinc.900);
  --prose-quote-borders: theme(colors.zinc.200);
  --prose-captions: theme(colors.zinc.500);
  --prose-code: theme(colors.zinc.900);
  --prose-pre-code: theme(colors.zinc.900);
  --prose-pre-bg: theme(colors.zinc.100);
}
