---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Connor Flowers | About">
  <div class="p-8">
    <h1 class="text-4xl font-bold tracking-tighter mb-8 text-zinc-950">Creative technologist based in Melbourne, Australia.</h1>
    <div class="prose space-y-4 ">
      <p>
        I have a passion for tinkering and building interesting simulations, experiences and interactive projects.
      </p>
      <p>
        Reach out if you'd like to collaborate or just say hello.
      </p>
      <p>
        <strong>contact [at] connorflowers [dot] dev</strong>
      </p>
    </div>
  </div>
</Layout>
