---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About | Connor Flowers">
  <div class="max-w-3xl mx-auto p-8">
    <h1 class="text-4xl font-bold tracking-tighter mb-8">Creative technologist based in Melbourne, Australia.</h1>
    <div class="prose prose-invert max-w-none">
      <p>
        I have a passion for tinkering and building interesting simulations, experiences and interactive projects.
      </p>
      <p>
        Reach out if you'd like to collaborate or just say hello.
      </p>
      <p>
        <strong>contact [at] connorflowers [dot] dev</strong>
      </p>
    </div>
  </div>
</Layout>
