---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import ProjectCard from '../components/ProjectCard.astro';

const projects = (await getCollection('projects')).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<Layout title="Portfolio | Connor Flowers">
  <div id="projects" class="px-4 sm:px-6 lg:px-8 py-16">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      {projects.map(project => (
        <ProjectCard {project} />
      ))}
    </div>
  </div>
</Layout>
