---
import { getCollection } from "astro:content";
import ProjectCard from "../components/ProjectCard.astro";
import Layout from "../layouts/Layout.astro";

const projects = (await getCollection("projects")).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
---

<Layout title="Connor Flowers | Portfolio">
  <div id="projects" class="px-4 sm:px-6 lg:px-8 py-10">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      {projects.map((project) => (
        <ProjectCard {project} glitch={true} />
      ))}
    </div>
  </div>
</Layout>
