---
---
<header class="p-8">
  <nav class="flex justify-between items-center">
    <a href="/" class="text-xl font-bold tracking-tighter text-zinc-950">CONNOR FLOWERS</a>
    <ul class="flex gap-6 items-center text-zinc-900">
      <li><a href="/#projects" class="relative group"><span>Portfolio</span><span class="absolute -bottom-1 left-0 w-0 h-0.5 bg-zinc-950 transition-all duration-300 group-hover:w-full"></span></a></li>
      <li><a href="/about" class="relative group"><span>About</span><span class="absolute -bottom-1 left-0 w-0 h-0.5 bg-zinc-950 transition-all duration-300 group-hover:w-full"></span></a></li>
    </ul>
  </nav>
</header>
