---
---
<header class="sticky top-0 z-50 p-4 bg-stone-100/80 backdrop-blur-sm">
  <nav class="flex justify-between items-center">
    <a href="/" class="text-2xl font-semibold tracking-tighter text-stone-950">CONNOR FLOWERS</a>
    <ul class="flex gap-4 md:gap-6 items-center text-stone-900 text-lg font-semibold">
      <li><a href="/#projects" class="relative group"><span>Portfolio</span><span class="absolute -bottom-1 left-0 w-0 h-0.5 bg-stone-950 transition-all duration-300 group-hover:w-full"></span></a></li>
      <li><a href="/about" class="relative group"><span>About</span><span class="absolute -bottom-1 left-0 w-0 h-0.5 bg-stone-950 transition-all duration-300 group-hover:w-full"></span></a></li>
    </ul>
  </nav>
</header>
