---
---
<header class="p-8">
  <nav class="flex justify-between items-center max-w-6xl mx-auto">
    <a href="/" class="text-xl font-bold tracking-tighter">CONNOR FLOWERS</a>
    <ul class="flex gap-6 items-center">
      <li><a href="/#projects" class="hover:text-stone-300 transition-colors">Portfolio</a></li>
      <li><a href="/about" class="hover:text-stone-300 transition-colors">About</a></li>
    </ul>
  </nav>
</header>
